/* actual keys*/
#piano_keys button.wkey{
	padding-bottom:300px;
	padding-left:35px;
	padding-right:35px;
	margin: none;
	color:#EFEFEF;
}

#piano_keys button.bkey{
	padding-bottom:180px;
	padding-left:30px;
	padding-right:30px;
	margin-left:-124px;
	color:rgba(0,0,0,0);
	background-color:rgb(40,40,40);
}

#piano_keys button.reset{
	padding-bottom:300px;
	padding-left:35px;
	padding-right:35px;
	margin-left:49px;
	color:rgba(0,0,0,0);
	/* background-color:rgb(255, 0, 0) */
}
/* piano roll */
.wkey-roll{
	color:rgba(0,0,0,0);
}

.bkey-roll{
	color:rgba(0,0,0,0);
	background-color:rgb(40,40,40);
}

.reset-roll{
	color:rgba(0,0,0,0);
	/* background-color:rgb(255, 0, 0); */
}

header{
	font-size:100px;
	background-color:rgb(100,130,200);
}

var{
	font-family: monospace;
	font-style: bold;
}

.hit{
	background-color:grey;
}

.played{
	background-color:red;
}
